@charset "UTF-8";
      body {
        background-color: #ffffff;
        background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100%25' height='100%25' %3E%3Cdefs%3E%3ClinearGradient id='a' x1='0' x2='0' y1='0' y2='1' gradientTransform='rotate(0,0.5,0.5)'%3E%3Cstop offset='0' stop-color='%23B5C9FF'/%3E%3Cstop offset='1' stop-color='%23384577'/%3E%3C/linearGradient%3E%3C/defs%3E%3Cpattern id='b' width='82' height='82' patternUnits='userSpaceOnUse'%3E%3Ccircle fill='%23ffffff' cx='41' cy='41' r='41'/%3E%3C/pattern%3E%3Crect width='100%25' height='100%25' fill='url(%23a)'/%3E%3Crect width='100%25' height='100%25' fill='url(%23b)' fill-opacity='0.02'/%3E%3C/svg%3E");
        background-attachment: fixed;
        color: black;
      }

      .layout {
        display: grid;
        grid-template-rows: 130px [main-start] 1fr [main-end] 150px;
        grid-template-columns: 200px [main-start] 3fr [main-end] 5em;
      }
      .nav-link{
          color: rgba(17, 26, 66, 0.985);
          font-size: large;
          padding-top: 1em;
      }

      header {
          background-color: #6074ac;
          width: 100%;
          position: fixed;
          top: 0;
      }

      .logo{
          width: 3em;
          padding: 5px 5px;
      }

      h2 span {
        position: relative;
        top: -150px;
        visibility: hidden;
      }

      main {
        grid-area: main;
        justify-content: center;
      }

      dd {
        text-align: justify;
      }

      ul {
        list-style-type: square;
      }

      p {
        text-align: justify;
      }

      a:link, a:visited {
        text-decoration: none;
        color: rgb(37, 46, 94);
      }

      a:hover, a:focus, a:active {
        text-decoration: none;
        color: rgb(146, 219, 246);
      }

      .area-style {
        border: 1px solid #ccc;
        padding-top: 2em;
      }

      .content-table {
        display:flex;
        flex-direction: column;
        position: fixed;
        justify-content: center;
        margin-top: 130px;
      }

      .table-title{
        margin-left: 1em;
      }

      #page-nav {
        flex-direction: column;
      }

      .midtext-img {
        display: flex;
        flex-direction: column;
        float: right;
        margin-left: 2em;
        max-width: 200px;
      }
  
      figcaption {
        justify-content: center;
      }

      #gallery {
        width: 80%;
      }

      .picture-gallery {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        width: 100%;
      }

      .subgallery {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        width: 100%;
      }

      video {
        width: 100%;
      }

@media (max-width: 1280px) { 
  .layout {
    display: grid;
    grid-template-rows: 150px [main-start] 1fr [main-end] 150px;
    grid-template-columns: 20px [main-start] 1fr [main-end] 20px;
  }

  main {
    margin-top: 50px;
    grid-area: main;
  }

  h2 span { /**/
    top: -180px;
  }

  header {
    background-color: #6074ac;
    width: 100%;
    position: fixed;
    top: 0
}

  .content-table {
    background-color: #6074ac;
        flex-direction: row;
        width:100%;
        flex: 1 1 auto;
        position: fixed;
        justify-content: center;
        margin-top: 100px;
        
  }
  #page-nav {
    flex-direction: row;
  }
  .table-title{
    margin-top: 0.8em;
  }

  .midtext-img {
    display: flex;
    flex-direction: column;
    max-width: 60%;
    min-width: 190px;
    float:none;
  }

  .picture-gallery {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    max-width: 100%;
  }

}

@media (max-width: 630px) { 
  .layout {
    display: grid;
    grid-template-rows: 200px [main-start] 1fr [main-end] 150px;
    grid-template-columns: 20px [main-start] 1fr [main-end] 20px;
  }

  .content-table {
        flex-direction: row;
        width:100%;
        flex: 1 1 auto;
        position: fixed;
        justify-content: center;
        margin-top: 150px;
        
  }

  main {
    margin-top: 100px;
    grid-area: main;
  }
  h2 span {
    top: -300px;
  }
}