@charset "UTF-8";

/* Items are organized relative to their appearance and importance for the style*/

* {
  margin: 0;
  padding: 0;
  }

body {
  font-family: serif;
  background-color: #ffffff;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100%25' height='100%25' %3E%3Cdefs%3E%3ClinearGradient id='a' x1='0' x2='0' y1='0' y2='1' gradientTransform='rotate(0,0.5,0.5)'%3E%3Cstop offset='0' stop-color='%23B5C9FF'/%3E%3Cstop offset='1' stop-color='%23384577'/%3E%3C/linearGradient%3E%3C/defs%3E%3Cpattern id='b' width='82' height='82' patternUnits='userSpaceOnUse'%3E%3Ccircle fill='%23ffffff' cx='41' cy='41' r='41'/%3E%3C/pattern%3E%3Crect width='100%25' height='100%25' fill='url(%23a)'/%3E%3Crect width='100%25' height='100%25' fill='url(%23b)' fill-opacity='0.02'/%3E%3C/svg%3E");
  background-attachment: fixed;
  color: black;
  width: 100%;
}

/* This is a grid style, only to fix the position of the main section and footer */
.layout {
  display: grid;
  grid-template-rows: 130px [main-start] 1fr [main-end] 3em;
  grid-template-columns: 200px [main-start] 3fr [main-end] 3em;
}

header {
  background-color: #6781c8;
  width: 100%;
  position: fixed;
  z-index: 12;
  top: 0;
}

.nav-link{
  color: rgba(17, 26, 66, 0.985);
  font-size: large;
  padding-top: 1em;
}

/* The content table should be to the left */
.content-table {
  display:flex;
  flex-direction: column;
  position: fixed;
  justify-content: center;
  margin-top: 130px;
  z-index: 12; /* This is to make it so that the images dont overlap the header*/
}

.table-title{
  margin-left: 1em;
}

#page-nav {
  flex-direction: column;
}

main {
  font-size: larger;
  grid-area: main;
  margin: 10px 10px;
  justify-content: center;
  max-width: 100%;
}

/* This is to fix the reference for the page content. 
This way the section title isn't hidden by the header */
h2 span, h1 span {
  position: relative;
  top: -150px;
  visibility: hidden;
}

a:link, a:visited {
  text-decoration: none;
  color: rgb(37, 46, 94);
}

a:hover, a:focus, a:active {
  text-decoration: none;
  color: rgb(146, 219, 246);
}

p {
  text-align: justify;
}

.subgallery {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
  margin: 5px 5px;
  justify-content: space-evenly;
}

.subgallery img, video {
  max-width: 450px;
  max-height: 450px;
  border-style: solid;
  border-color: #fff;
  margin-top: 1em;
  margin-bottom: 1em;
  border-width: 3px;
  border-radius: 10%;
}


.subgallery img:hover {
  animation: expand 1s; /*Tem que corrigir*/
  animation-fill-mode: forwards;
  z-index:10;
}

.logo {
  width: 3em;
  padding: 5px 5px;
  animation: none;
  border-style: none;
}

/* The images for the paragraph are supposed to be on the right */
.midtext-img {
  float: right;
  margin-left: 2em;
  max-width: 150px;
  max-height: 150px;
}

.midtext-img img
{
  border-radius: 15%;
  border-color: #ffffff;
  border-width: 10px;
  width: 100%;
}

emp {
  font-style: italic;
}

dd {
  text-align: justify;
}

ul {
  display:flex;
  flex-direction: row;
  flex-wrap: wrap;
  list-style-type: square;
  justify-content: space-evenly;
}

.media {
  display: flex;
  flex-direction: column;
  max-width: 30%;
  background-color: #aebdf8a3;
  border-radius: 10%;
}

.content ul {
  list-style-type: none;
}

.content li {
  font-weight: 300;
}

.gallery {
  font-size: larger;
  margin-bottom: 5em;
  margin-top: 1em;
  padding-left: 2em;
  padding-right: 2em;
  display: block;
  border-left: 2px solid  #384577;
  border-right: 2px solid  #384577;
}

.gallery h2 {
  display: block;
  border-style: none;
  background-color: #6781c8;
  border-radius: 10px 10px 10px 10px; 
}

video {
  width: 100%;
}

figcaption {
  text-align: center;
}

footer {
  background-color: #384577;
  color:white;
  width: 100%;
  grid-row: main-end / -1;
  grid-column: 1/ -1;
  position: fixed;
  bottom:0;
}

.footer-text {
  display:flex;
  flex-direction: row;
  justify-content: space-between;
  padding-top: 10px;
  font-size: small;
}

h1 {
  width: 100%;
  font-size: 56px;
  font-style: italic;
  text-align: center;
  margin-bottom: 1em;
  padding-top: 1em;
  padding-bottom: 2em;
  border-bottom: double 3px #384577;
}

input[type="checkbox"] { 
  display: none; 
} 

/* Style the labels as buttons */ 
label { 
  display: block; 
  padding: 10px 20px; 
  background-color: #384577; 
  color: #fff; 
  cursor: pointer; 
  margin-bottom: 8px; 
  border-radius: 3px; 
}

input[type="checkbox"]:checked+label { 
  background-color: #6781c8; 
} 

/* Hide the content divs by default */ 
.content { 
  display: none; 
  padding: 10px; 
  border: 1px solid #ccc; 
  border-top: none; 
  border-radius: 0 0 5px 5px; 
} 

/* Show the content */ 
input[type="checkbox"]:checked+label+.content { 
  display: block; 
}



@media only screen and (max-width: 1280px) { 
  .layout {
    display: grid;
    grid-template-rows: 150px [main-start] 1fr [main-end] 70px;
    grid-template-columns: 20px [main-start] 1fr [main-end] 20px;
  }

  main {
    grid-area: main;
    padding-top: 50px;
  }

  h1 span, h2 span { /**/
    top: -170px;
  }

  header {
    background-color: #6781c8;
    width: 100%;
    position: fixed;
    top: 0
}
.content-table {
  background-color: #6781c8;
  flex-direction: row;
  width:100%;
  flex: 1 1 auto;
  position: fixed;
  justify-content: center;
  margin-top: 100px;
      
}
  #page-nav {
    flex-direction: row;
  }
  .table-title{
    margin-top: 0.8em;
  }

  .midtext-img {
    display: flex;
    flex-direction: column;
    min-width: 150px;
    float:none;
  }

}

@media (max-width: 600px) { 
  .layout {
    display: grid;
    grid-template-rows: 200px [main-start] 1fr [main-end] 70px;
    grid-template-columns: [main-start] 400px [main-end];
    text-align: center;
    width: 100%;
  }

  .content-table {
    flex-direction: row;
    width:100%;
    flex: 1 1 auto;
    position: fixed;
    justify-content: center;
    margin-top: 150px;
        
  }

  main {
    grid-area: main;
    padding-top: 50px;
    padding-left: 5px;
  }

  .subgallery img, video {
    max-width: 250px;
    max-height: 250px;
  }
  

  h1 {
    width: 100%;
    font-size: 40px;
    margin-top: 1em;
    margin-bottom: 2em;
    font-style: italic;
    text-align: center;
    border-bottom: double 3px #384577;
  }

  h1 span, h2 span{
    top: -200px;
  }
}

@keyframes expand {
  from {transform: scale(1);}
  to {transform: scale(1.15);}
}